
.cursos{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.card {
    margin:1%;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
